:root {
  --const-width: calc(100vw / 416);
  --const-hight: calc(100vh / 896);
}

html {
  font-size: var(--const-width); 
  letter-spacing: var(--const-width);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: roboto, source-han-sans-japanese, sans-serif;
  color: #404040;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

header {
  color: #fff;
  text-align: center;
  height: 100vh;
  position: relative;
}

header .flex-container {
  height: 100%;
  padding: calc(var(--const-hight)*50) 0 calc(var(--const-hight)*70);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-color: #FD7873;
}

header h1, h2 {
  text-shadow: 0 0 calc(100vw / 416 * 10) rgba(0, 0, 0, 0.25);
  margin: 0;
  line-height: 1;
}

header #title > h1 {
  font-size: 71rem;
  font-weight: 900;
  letter-spacing: 10rem;
}

header #title > h2 {
  font-size: 23rem;
  font-weight: 500;
  letter-spacing: 3rem;
}

#h-grid-container {
  display: grid;
  grid-template-rows: repeat(4, calc(var(--const-width)*102));
  grid-template-columns: repeat(3, calc(var(--const-width)*102));
  gap: calc(var(--const-width)*8);
  margin: 0 auto;
}

.h-g-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--const-width)*23);
  background: #7E57C2;
  text-align: left;
}

.h-g-content h1 {
  font-size: 15rem;
  font-weight: 500;
}

.h-g-content p {
  font-size: 9rem;
  font-weight: 200;
  margin-bottom: 0;
}

.h-g-img {
  background: #FFD800;
}

#item1-content{
  grid-row: 1;
  grid-column: 1 / 3;
}
#item1-img{
  grid-row: 1;
  grid-column: 3;
}

#item2-img{
  grid-row: 2;
  grid-column: 1;
}
#item2-content{
  grid-row: 2;
  grid-column: 2 / 4;
}

#item3-content{
  grid-row: 3;
  grid-column: 1/3;
}
#item3-img{
  grid-row: 3;
  grid-column: 3;
}

#item4-img{
  grid-row: 4;
  grid-column: 1;
}
#item4-content{
  grid-row: 4;
  grid-column: 2 / 4;
}

#h-down-icon-container {
  position: absolute;
  bottom: calc(var(--const-hight)*13);
  left: 0;
  right: 0;
  margin: 0 auto;
}

#h-down-icon {
  width: calc(var(--const-width)*35);
  font-size: 30rem;
}

main {
  padding: calc(var(--const-width)*35);
}

main section {
  margin-bottom: calc(var(--const-width)*35);
}

main > section >h1 {
  font-size: 19rem;
  font-weight: 500;
  padding: calc(var(--const-width)*5) calc(var(--const-width)*7);
  border-bottom: calc(var(--const-width)*1) solid #707070;
  margin-bottom: 0;
}

#portfolio {
  height: calc(var(--const-width)*83);
  border-radius: 50%;
  border: .5px solid #C4560A;
}

.card {
  position: relative;
  width: calc(var(--const-width)*329);
  padding: calc(var(--const-width)*36) calc(var(--const-width)*28);
  box-shadow: 0 0 calc(var(--const-width)*10) rgba(0, 0, 0, 0.32);
  margin: calc(var(--const-width)*28) auto 0;
  border-radius: calc(var(--const-width)*5);
}

.card h1,
footer h1 {
  font-size: 22rem;
  font-weight: 400;
  line-height: 1.5;
  margin: calc(var(--const-width)*3) 0 0;
}

.card p {
  font-size: 14rem;
  font-weight: 200;
  margin: calc(var(--const-width)*10) calc(var(--const-width)*6) 0;
  line-height: 1.6;
}

.card .icon {
  height: calc(var(--const-width)*70);
  max-width: calc(var(--const-width)*110);
  margin-bottom: calc(var(--const-width)*12);
  object-fit: contain;
}

.card p::first-letter {
  margin-left: calc(var(--const-width)*17);
}

.card table {
  font-size: 14rem;
  margin: calc(var(--const-width)*15) 0 calc(var(--const-width)*8);
}

.card th {
  font-weight: 200;
  text-align: right;
  width: 40%;
  vertical-align: top;
}

.card td {
  font-weight: 200;
}

.card th::after {
  content: "：";
  margin-left: calc(var(--const-width)*6);
}

#skills .card h1 {
  text-align: center;
}

#performance .card {
  padding: calc(var(--const-width)*20) calc(var(--const-width)*28);
}

.sprended-img {
  position: relative;
  top: calc(var(--const-width)*-20);
  left: calc(var(--const-width)*-28);
  width: calc(var(--const-width)*329);
  border-radius: calc(var(--const-width)*5) calc(var(--const-width)*5) 0 0;
}

#flow .card h1 {
  text-decoration: underline;
  margin-bottom: calc(var(--const-width)*15);
}

#flow .card h1::before {
  content: attr(data-number);
  display: inline-block;
  margin-right: calc(var(--const-width)*15);;
  font-size: 17rem;
  color: #fff;
  background: #0E0E8D;
  width: calc(var(--const-width)*28);
  height: calc(var(--const-width)*28);
  line-height: calc(var(--const-width)*27);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

footer {
  padding: calc(var(--const-width)*10) calc(var(--const-width)*47);
  background: #f5f5f5;
}

footer h1,
#copyright {
  text-align: center;
  padding: calc(var(--const-width)*30) 0 0;
  margin: 0 auto calc(var(--const-width)*30);
}

#copyright {
  font-size: 14rem;
}

.btn {
  display: flex;
  text-align: center;
  margin: calc(var(--const-width)*11) auto;
  padding: calc(var(--const-width)*14) calc(var(--const-width)*17);
  border-radius: calc(var(--const-width)*89);
  box-shadow: 0 0 calc(var(--const-width)*10) rgba(0, 0, 0, 0.32);
  font-size: 15rem;
  color: #fff;
}

.btn span {
  flex-grow: 2;
}
.btn img {
  height: calc(var(--const-width)*21);
  width: calc(var(--const-width)*21);
}

.btn.form {
  background: #7E57C2;
}
.btn.twitter {
  background: #03A9F4;
}
.btn.github {
  background: #747474;
}
.btn.mail {
  background: #FFC107;
}